ingress:
  enabled: true
  apiVersion: "networking.k8s.io/v1"
  ingressClassName: haproxy
  host: longhorn.{{ k3s_domain }}
  pathType: Prefix
  path: /
  tls: true
  tlsSecret: "{{ k3s_domain_tls_secret_name }}"
  annotations:
    haproxy.org/ingress.class: "haproxy"
    haproxy.org/auth-type: "basic"
    haproxy.org/auth-secret: "longhorn-system/longhorn-auth"
    haproxy.org/auth-realm: "Authentication Required"
