[Unit]
Description=Minio S3 Service Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/run-minio-container

[Install]
WantedBy=default.target
